body {
    background-color: #5782de;
    color: pink
}

h1 {
    font-size: 190px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

p {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 4px;
    text-align: center;
}